<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
        {% if block.settings.image != blank %}
          <img
            src="{{ block.settings.image | image_url: width: 1500 }}"
            alt="Slider {{ forloop.index }}"
            width="1500"
            height="500"
          >
        {% else %}
          <h2>Insertar imagen</h2>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<style>
  .swiper {
    width: 100%;
    height: 500px; /* Altura fija para el slider */
  }

  .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: 100%; /* Ajusta la imagen a la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción sin distorsión */
  }

  .swiper-slide h2 {
    font-size: 2rem;
    color: #333;
  }

  /* Ajustes Responsivos */
  @media (max-width: 768px) {
    .swiper {
      height: 300px; /* Reducir la altura del slider en pantallas medianas */
    }
    .swiper-slide img {
      object-fit: cover; /* Asegura que la imagen llene el contenedor */
    }
    .swiper-slide h2 {
      font-size: 1.5rem; /* Reducir el tamaño del texto */
    }
  }

  @media (max-width: 480px) {
    .swiper {
      height: 200px; /* Reducir aún más la altura del slider en pantallas pequeñas */
    }
    .swiper-slide img {
      object-fit: cover; /* Mantén la imagen ajustada al contenedor */
    }
    .swiper-slide h2 {
      font-size: 1.2rem; /* Reducir aún más el tamaño del texto */
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    new Swiper(".mySwiper", {
      direction: "horizontal",
      loop: true,
      slidesPerView: 1,
      slidesPerGroup: 1,
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: false
      }
    });
  });
</script>

{% schema %}
{
  "name": "Custom Slider",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Slider",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
